  <!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <head>


        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">AdviseU</h1>
                <nav>
                    <ul>
                        <li><a href="advisement.html">Advisement</a></li
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                <center>
                <aside id="taken">
                    <h3>Courses Taken</h3>
                </aside>
                <br>
                <form>
                    <aside id="add_list">
                        <h3>Add Courses</h3>
                        <div id="new_list">
                            <input id="input" type="text" name="new_course"> <br>
                        </div>
                        <br>
                        <input type="button" value="Add Course" style="color:black;font-weight:bold;" onclick="add_course()">
                    </aside>

                    <br>
                    <aside>
                        <input type="submit" name="submit" style="color:black;font-weight:bold;">
                    </aside>
                </form>
                </center>

            </div> <!-- #main -->
        </div> <!-- #main-container -->



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/main.js"></script>

        <script>
            var courses_taken = [] // RUBY INSTANCE OF COURSES TAKEN ARRAY GOES HERE
            var courses_new = []

            courses_taken.forEach(function(d) {
                $("#taken").append("<b>" + d + "</b> <br>");
            })

            function add_course() {
                $("#new_list").append('<input id="input" type="text" name="course"> <br>');
            }
        </script>

    </body>

</html>
